

.btnSearch{
    background-color: #476653;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
}

.btnSearch:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 rgb(224, 201, 182);
  }


.inputBox{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid  rgb(224, 201, 182);
    outline: none;
    font-family: 'Questrial', sans-serif;
    color:#ffffff;
    padding: 7px;
    margin: 3px
}