 .conta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    width: 320px;
    height: 230px;
    margin: 5px 30px 15px 40px;
    }

    .conta:hover{
        transform: scale(1.02);
      }

    .imgF{
        width: 280px;
        height: 160px;
        object-fit: cover;
    }
    
    .arefCountry{
        color: #FFFFFF;
    }

    .continent{
        margin-top: -10px;
        font-size: x-small;
    }