 .conta{

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    height: 210px;
    margin: 5px 30px 15px 30px;
    }

    .imgF{
        width: 220px;
        height: 150px;
        object-fit: cover;
    }
    
    .arefCountry{
        color: #FFFFFF;
    }